    <section class="content fn-clear">
        <div class="content-cnt">
        <div class="ui-grid-25 ui-grid-right content-top">
        
       	 	<div class="ui-grid-23 violet-post">
                <div class="v-section-tit">
                    <h4>{% if page.name == '3L' %}创新手机游戏《3L》开发点滴
						{% else %}
						All posts in {{ page.name }}
						is here.{% endif %}&nbsp;&nbsp;&nbsp;<span>({{ site.categories[page.name] | size }}posts.)</span><input id="J_search" class="violet-input" placeholder="Simple Search"/></h4>                
                </div>
                <div class="violet-post-det fn-clear">
{% if page.name == '3L' %}
<p>
2013年的新手游项目《3L》开发过程中的点滴记录。</p>
{% endif %}
        
            <section class="ui-grid-20 violet-post v-post-detail">             
                {% capture post_year1 %}{{ 'now' | date: '%Y' }}{% endcapture %}
                <div class="violet-archive fn-clear">
                    <p class="ui-grid-2 year">{{ post_year1 }}</p>
                    <div class="ui-grid-18 ui-grid-right ui-grid-bottom">
	{% for post in site.categories[page.name] %}
                        {% capture post_year2 %}{{ post.date | date: '%Y' }}{% endcapture %}
                        {% if post_year1 != post_year2 %}
                            {% assign post_year1 = post_year2 %}
                    </div>
                </div><!-- //violet-archive -->         
                <div class="violet-archive fn-clear">
                    <p class="ui-grid-2 year">{{ post_year1 }}</p>
                    <div class="ui-grid-18 ui-grid-right ui-grid-bottom">
                        {% endif %}
                        <article class="article fn-clear">
                            <div class="ui-grid-6 v-archive-tit">
                                <p class="v-date"><span>&#8227;</span><time pubdate="{{ post.date | date: '%b %d, %Y' }}">{{ post.date | date: '%b %d' }}</time></p>
                                <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                            </div>
                            <div class="ui-grid-12 v-archive-det">
                                <p>{{ post.description }}</p>
                            </div>
                        </article><!-- //archive -->
                    {% endfor %}
                    </div>
                </div><!-- //violet-archive -->            
            </section><!-- //violet-post -->
            </div>
            </div>
        </div>
        </div>
    </section><!-- //content -->
    <div class="banner">
        <div class="b-cnt">
            <div class="ui-grid-25 ui-grid-bottom ui-grid-right">
                <div class="banner-cnt" id="J_banner">
                </div><!-- //banner-cnt -->
            </div>
        </div>
    </div><!-- //banner -->

