				<div class="violet-about">
                    <h4 class="v-section-tit">About 鸿记</h4>
                    <article class="violet-about-det">
                        <p id="J_myFace" class="v-my-face"><img src="/images/face/iampizn-1.png" alt="Hello sunminghong!" width="146px" height="100px" id="J_myFace_img" /><span>Face to Face!</span></p>
                        <p><em>孙铭鸿</em>，混迹互联网多年，现在做游戏服务器端开发。使用过很多开源技术，也一直想投身开源世界，就从这个blog——《鸿记》开始吧！</p>
                        <p></p>
                       
                    </article>
                    <p class="v-more-right">
                        <a href="/contact.html"><span>&#10149;</span>More</a>
                    </p>
                </div><!-- //violet-about -->
