		<div class="violet-attent">
                    <h4 class="v-section-tit">Follow Me</h4>
                    <article class="violet-attent-det fn-clear">
                        <ul class="fn-right">
                            <li><a href="https://github.com/sunminghong" target="_blank" class="v-github" rel="nofollow"><span>GitHub</span></a></li>
                            <li><a href="http://weibo.com/5d13" target="_blank" class="v-weibo" rel="nofollow"><span>weibo.com</span></a></li>
                            <li><a href="mailto:5d13.cn@gmail.com" target="_blank" class="v-rss" rel="nofollow"><span>email</span></a></li>
                        </ul>
                    </article>
                </div>
		<div class="violet-attent">
                   <a href="http://www.jiaduijia.com" title="家对家生活网" target="_blank">家对家生活网</a>
                </div>
